@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "layouts/reset" as *;
@use "layouts/header" as *;
@use "layouts/heroSection" as *;
@use "./layouts/aboutSection" as *;

body {
    max-width: 1240px;
    margin: 0 auto;
    font-family: $main-font;
    color: $text-light;
    background-color: $bg-light;
    transition: all 0.3s ease;
}


// theme switching start

body:has(#dark:checked) {
    background-color: $bg-dark;
    color: $text-dark;

    .intro-path {
        color: $text-dark;
    }

}

body:has(#light:checked) label[for="light"] {
    display: none;
}

body:has(#dark:checked) label[for="dark"] {
    display: none;
}

input[name="theme"] {
    display: none;
}

label {
    cursor: pointer;
}

// theme switchin end

header,
main,
footer {
    padding: 0 24px;
}

h2 { 
    font-size: $section-title-size;
    font-weight: 600; 
}

