$main-font: "Poppins", sans-serif;
$paragraph-font-size: 16px;
$paragraph-font-weight: 400;
$main-color: #052A44;
$lt-button-font-color: #fff;

@mixin description {
    font-family: $main-font;
    font-size: $paragraph-font-size;
    font-weight: $paragraph-font-weight;
}

@mixin primary-button {
    font-family: $main-font;
    color: $lt-button-font-color;
    font-size: $paragraph-font-size;
    font-weight: 600;
    border-radius: 8px;
    background-color: $main-color;
    padding: 15px 43px;

}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: none;
}

body {
  max-width: 1240px;
  margin: 0 auto;
  font-family: $main-font;
}

header, main, footer {
  padding: 0 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 24px;
    background-color: #052A44;
    flex-wrap: wrap;
    border-radius: 12px;
    margin: 50px 0px 12px 0px;

    & .logo-light-desk {
        font-size: 20px;
        color: #fff;
    }

    & .nav-top ul {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        text-decoration: none;
        color: #fff;
    }

    .func-btns {
        display: flex;
        align-items: center;

    
        &-signin {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            margin: 0px 28px 0px 50px;
        }

        &-trial {
            background-color: #fff;
            color: #000;
            font-size: 16px;
            font-weight: 600;
            padding: 15px 43px;
            border-radius: 8px;
        }
    }
}


#hero {
    display: flex;
    height: 538px;
}

    .hero-left {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;

        & .intro-career {
            font-size: 48px;
            color: #E8DB84;
            font-weight: 700;
        }

        & .intro-path {
            @extend .intro-career;
            color: #000;
            padding-left: 5px;
        }

        & p {
            @include description;
            font-size: 18px;
            max-width: 579px;
            padding-bottom: 24px;
        }

        & .start {
            @include primary-button;
        }

        & .arrow {
            width: 53px;
            height: 53px;
            border-radius: 50%;
            font-size: 20px;
            box-shadow: 2px -2px 38px #00000014;
            margin-left: 24px;
            text-align: center;
        }

        & .lrnmore-btn {
            font-weight: 600;
            margin-left: 12px;
        }

        & .hero-students {
            display: flex;
            padding-top: 24px;
            align-items: center;

            &-img {
                height: 52px;
            }

            &-txt {
                font-size: 13.09px;
                font-weight: 500;
                text-transform: capitalize;
                padding-left: 12px;
            }
        }


    }

    .hero-right {
        display: flex;
        width: 50%;
        position: relative;
        align-items: center;
        justify-content: right;

        &-stats {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 20;
            left: 15px;
            gap: 12px;

            &-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 17px 0px;
                width: 143px;
                height: 106px;
                background-color: #fff;
                border-radius: 14px;
                box-shadow: 1.82px 3.61px 35px #00000014;

                & h4 {
                    color: #1E2A39;
                    font-size: 12.88px;
                    font-weight: 700;
                    letter-spacing: -1%;
                }

                & p {
                    color: #2E2E2E;
                    font-size: 10.3px;
                    line-height: 17.17px;

                }

                & .add-btn {
                    width: 28px;
                    height: 28px;
                    background-color: #052A44;
                    border-radius: 50%;
                    color: #fff;
                    font-weight: 600;
                    font-size: 15px;
                }

                .members-pics {
                    height: 23px;
                }
            }
        }

        & .femail-bg {
            width: 506px;
            height: 408px;
            background-color: #E8DB84;
            border-radius: 20px;
        }

        & .hero-female {
            height: 500px;
            position: absolute;
            right: -140px;
            bottom: 65px;
        }
    }











@media (max-width: 400px) {
    .logo-light, .header-right {
        display: none;
    }
    .header-right {
    display: flex;
    gap: 36px;
}

.menu-layer {
    display: flex;
    flex-direction: column;
    gap: 5.55px;
}

.menu-layer-line {
    width: 22px;
    height: 2.2px;
    background-color: #3A4C66;
}
}