$main-font: "Poppins", sans-serif;
$paragraph-font-size: 16px;
$paragraph-font-weight: 400;

@mixin description {
    font-family: $main-font;
    font-size: $paragraph-font-size;
    font-weight: $paragraph-font-weight;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: none;
}

body {
  max-width: 1240px;
  margin: 0 auto;
  font-family: $main-font;
}

header, main, footer {
  padding: 0 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 24px;
    background-color: #052A44;
    flex-wrap: wrap;
    border-radius: 12px;
    margin: 50px 0px 12px 0px;

    & .logo-light-desk {
        font-size: 20px;
        color: #fff;
    }

    & .nav-top ul {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        text-decoration: none;
        color: #fff;
    }

    .func-btns {
        align-items: center;
    
        &-signin {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            margin: 0px 28px;
        }

        &-trial {
            background-color: #fff;
            color: #000;
            font-size: 16px;
            font-weight: 600;
            padding: 15px 43px;
            border-radius: 8px;
        }
    }
}


.hero {
    display: flex;
    height: 538px;

    &-left {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;

        & .intro-career {
            font-size: 48px;
            color: #E8DB84;
            font-weight: 700;
        }

        & .intro-path {
            @extend .intro-career;
            color: #000;
            padding-left: 5px;
        }

        & p {
            @include description;
        }


    }

    &-right {
        display: flex;
        width: 50%;
        position: relative;
        align-items: center;
        justify-content: right;

        & .femail-bg {
            width: 506px;
            height: 408px;
            background-color: #E8DB84;
            border-radius: 20px;
        }

        & img {
            height: 500px;
            position: absolute;
            right: -140px;
            bottom: 65px;
        }
    }
}










@media (max-width: 400px) {
    .logo-light, .header-right {
        display: none;
    }
    .header-right {
    display: flex;
    gap: 36px;
}

.menu-layer {
    display: flex;
    flex-direction: column;
    gap: 5.55px;
}

.menu-layer-line {
    width: 22px;
    height: 2.2px;
    background-color: #3A4C66;
}
}