@use "./variables" as *;

@mixin description {
    font-family: $main-font;
    font-size: $paragraph-font-size;
    font-weight: $paragraph-font-weight;
}

@mixin primary-button {
    font-family: $main-font;
    color: $text-dark;
    font-size: $paragraph-font-size;
    font-weight: 600;
    border-radius: 8px;
    background-color: $main-color;
    padding: 15px 43px;

}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}