$main-font: "Poppins", sans-serif;
$paragraph-font-size: 16px;
$paragraph-font-weight: 400;
$main-color: #052A44;
$section-title-size: 42px;

$bg-light: #fff;
$text-light: #000;

$bg-dark: #1e2a39;
$text-dark: #fff;