@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../layouts/reset" as *;


#about {
    @include flex-column-center;
    position: relative;

    & .cards {
        display: flex; 
        position: relative;
        margin-top: 81px;
        gap: 24px;

        
        &-item {
            @include flex-column-center;
            max-width: 371px;
            min-width: 300px;
            height: fit-content;
            border-radius: 16px;
            box-shadow: 2px 4px 38px #00000014;
            position: relative;

            & .card-icon {
                width: 71px;
                height: 71px;
                border-radius: 50%;
                background-color: #052A44;
                box-shadow: 0px 7.19px 28.74px #363D880F;
                @include flex-column-center;
                justify-content: center;
                position: absolute;
                top: -40px;

                & img {
                    width: 23.43px;
                    height: 32.66px;
                }
            }
            
            &-title {
                font-size: 22px;
                font-weight: 600;
                padding-top: 70px;
                
            }

            &-description {
                text-align: center;
                padding: 15px 32px 70px 32px;
                line-height: 180%;
                font-size: 16.59px;
            }
        }

       
    }

    & button {
        @include primary-button;
        margin-top: 60px;
    }

    & .about-bg-circle {
        background-image: url(../../../images/about-bg-circle.svg);
        background-size: cover;
        position: absolute;
        left: -30px;
        bottom: 20px;
    }


}