*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: none;
}